# Files and directories created by pub
.packages
.dart_tool/
build/
coverage/
pubspec.lock

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/

# Directory created by w_test_tools to hold test reports
test-reports/